textarea {
  resize: none;
  overflow: hidden;
}

textarea::placeholder {
  color: #4c4c4c;
}

button {
   font-weight: bold;
   float: right;
}

.input-icons i {
  padding-right: 10px;
  color: inherit;
}

.user-img {
  width: 50px;
  height: 50px;
}
